@{
    Layout = null;
}

<!DOCTYPE html>

 <div class="row" style="background: rgba(245, 239, 239, 1)">

            <h1 class="page-header">Sobre...</h1>

            <div class="col-md-6">
                <p>
                    Como grande parte da população tem contato com dispositivos móveis, surgiu a ideia de se desenvolver um sistema de alarmes/lembretes associado a imagens de modo a promover a independência e autonomia de indivíduos com défice cognitivo. Assim, será possível ao utilizador saber o que fazer e como fazer num determinado momento, sem precisar de depender de outros (por exemplo: tomar a medicação, fazer pequenas atividades diárias, etc).  
                    Ao contrário do sistema convencional de lembretes , que apenas apresenta o texto por extenso, a ideia para este projeto distingue-se por expor este mesmo lembrete em pictogramas (imagens representativas, fáceis de associar a ações/atividades do dia-a-dia), e reconhecíveis por indivíduos com défices cognitivos. 
                    A aplicação terá que ser administrada por outro utilizador que tenha conhecimento do dia-a-dia da pessoa com dificuldades (por exemplo: filho, cuidador, auxiliar do lar etc). <strong>Este controlo é feito remotamente através desta aplicação web</strong>. O utilizador supervisor cria uma agenda personalizada, tendo a hipótese de escrever uma palavra ou expressões que serão convertidas para pictogramas.

                </p>
                <p>
                    Os símbolos pictográficos utilizados são propriedade de CATEDU (http://catedu.es/arasaac/) sob a licença Creative Commons e foram criados por Sergio Palao
               
                </p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="https://s3.eu-central-1.amazonaws.com/pictograms/pictogramas_1.png">
            </div>
        </div>
