<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Pictogramas WEB - Envio de lembretes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css"></style>
</head>
<body style="background: LightGray">
    @if (Context.User.Identity.IsAuthenticated)
    {

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/Home/LogOut">Sair</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Contactos<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Contacts/GenerateCode">Adicionar Contacto</a></li>
                                <li><a href="/Contacts/ManageContacts">Lista de Contactos</a></li>
                            </ul>
                        </li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Lembretes<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Reminder/SelectContact">Adicionar/Editar/Eliminar Lembretes</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
    }
    else
    {

        <!-- Navigation -->

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/Home/Register">Registe-se</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/Home/About">Sobre</a>
                        </li>

                        <li>
                            <a href="/Home/LogOn">Entrar</a>
                        </li>

                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
    }

    <!-- Page Content -->
    <div class="container" style="margin-top: 60px;">
        <!-- Features Section -->
        <div class="row" style="background: rgba(245, 239, 239, 1)">

            <h1 class="page-header">Sobre...</h1>

            <div class="col-md-6">
                <p>
                    Como grande parte da população tem contato com dispositivos móveis, surgiu a ideia de se desenvolver um sistema de alarmes/lembretes associado a imagens de modo a promover a independência e autonomia de indivíduos com défice cognitivo. Assim, será possível ao utilizador saber o que fazer e como fazer num determinado momento, sem precisar de depender de outros (por exemplo: tomar a medicação, fazer pequenas atividades diárias, etc).  
                    Ao contrário do sistema convencional de lembretes , que apenas apresenta o texto por extenso, a ideia para este projeto distingue-se por expor este mesmo lembrete em pictogramas (imagens representativas, fáceis de associar a ações/atividades do dia-a-dia), e reconhecíveis por indivíduos com défices cognitivos. 
                    A aplicação terá que ser administrada por outro utilizador que tenha conhecimento do dia-a-dia da pessoa com dificuldades (por exemplo: filho, cuidador, auxiliar do lar etc). <strong>Este controlo é feito remotamente através desta aplicação web</strong>. O utilizador supervisor cria uma agenda personalizada, tendo a hipótese de escrever uma palavra ou expressões que serão convertidas para pictogramas.

                </p>
                <p>
                    Os símbolos pictográficos utilizados são propriedade de CATEDU (http://catedu.es/arasaac/) sob a licença Creative Commons e foram criados por Sergio Palao
               
                </p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="https://s3.eu-central-1.amazonaws.com/pictograms/pictogramas_1.png">
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->


        <hr>

        <!-- Footer -->
        <footer class="row-fluid">
            <div class="row" style="background: rgba(245, 239, 239, 1)">
                <div class="col-lg-12">
                    <p>© 2015 - Gonçalo Lourenço e Jorge Pinto </p>

                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        })
    </script>




</body>
</html>

