@{
    Layout = null;
}

<!DOCTYPE html>

<div class="row" style="background: rgba(245, 239, 239, 1)">

    <h1 class="page-header">Sobre...</h1>

    <div class="col-md-6">
        <<p>
    Hoje em dia, os dipositivos móveis fazem parte do dia-a-dia de grande parte da população. Esta aplicação consiste num sistema de alarmes/lembretes associado a imagens com a finalidade de promover a independência e autonomia de todos os indivíduos em geral, particularmente nos indivíduos com patologias associadas a défices cognitivos. Com esta ajuda, será possível ao utilizador saber o que fazer e como fazer num determinado momento, sem depender de outros (por exemplo: tomar medicação, fazer pequenas atividades diárias, etc).
    Ao contrário do sistema convencional de lembretes, que apenas apresenta o texto por extenso, esta aplicação distingue-se por expor este mesmo lembrete por pictogramas (imagens representativas, fáceis de associar a ações/atividades do dia-a-dia), e reconhecíveis por indivíduos com patologias acima referidas.
    Para que esta aplicação se torne viável a mesma terá que ser administrada por outro utilizador que tenha conhecimento do dia-a-dia da pessoa que a está a utilizar (por exemplo: filho, cuidador, auxiliar do lar, etc). Neste sentido, o controlo é feito remotamente através desta aplicação web ou aplicação móvel Android. O utilizador gerador cria uma agenda personalizada, tendo a hipótese de escrever uma palavra ou expressões que serão convertidas para pictogramas.

    </p>
    <p>

    Os símbolos pictográficos utilizados são propriedade de  (<a href="http://catedu.es/arasaac/">CATEDU</a>) sob a licença Creative Commons e foram criados por Sergio Palao

    </p>
    </div>
</div>
